<%- include('../shared/includes/head', {pageTitle: 'Error'}) %>
</head>

<body>
  <%- include('../shared/includes/header') %>
  <main>
    <h1>인증되지 않았습니다.</h1>
    <p>당신은 인증되지 않았습니다.</p>
    <p><a href="/" class="btn">이전으로</a></p>
  </main>

  <%- include('../shared/includes/footer') %>