<%- include('../shared/includes/head', {pageTitle: 'Error'}) %>
</head>

<body>
  <%- include('../shared/includes/header') %>
  <main>
    <h1>리소스를 찾을수 없습니다.</h1>
    <p>리소스 에러가 났습니다. 다시 시도해주세요</p>
    <p><a href="/" class="btn">이전으로</a></p>
  </main>

  <%- include('../shared/includes/footer') %>